<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Failure</title>
</head>
<body>
    <h1>アクセス拒否</h1>
    <h2><span th:text="${username}"></span>さん　表示できません</h2>

    <div>
        <a th:href="@{/signup}">ユーザー登録</a>
    </div>

    <div>
        <a th:href="@{/admin}">管理者　ページ</a>
    </div>

    <div>
        <a th:href="@{/user}">ユーザー　ページ</a>
    </div>

    <form th:action="@{/logout}" method="post">
        <button>Logout</button>
    </form>
</body>
</html>